body{
    background-color: #212529;
}
#Principal{
    font-size: 1em;
}
.login{
    background-color: #2B3035;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
label{
    display: block;
}
input{
    color: white;
    background-color: #212529;
    border-radius: 5px;
    display: block;
}
a{
    color: rgb(47, 129, 247);
}